networks:
  pharmacy-net:
    driver: bridge
  mono-net:
    driver: bridge

services:

  nginx-lb:
    build: ./node1_nginx
    container_name: node1-nginx-lb
    ports:
      - "8080:8080"
    depends_on:
      - api-server-a
      - api-server-b
    networks:
      - pharmacy-net

  api-server-a:
    build:
      context: .
      dockerfile: node2_api_server/Dockerfile
    container_name: node2-api-server-a
    environment:
      - DB_HOST=db-primary
      - DB_PORT=5432
      - DB_NAME=pharmacy
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      - db-primary
    networks:
      - pharmacy-net

  api-server-b:
    build:
      context: .
      dockerfile: node2_api_server/Dockerfile
    container_name: node3-api-server-b
    environment:
      - DB_HOST=db-primary
      - DB_PORT=5432
      - DB_NAME=pharmacy
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      - db-primary
    networks:
      - pharmacy-net

  db-primary:
    build: ./node4_db_primary
    container_name: node4-db-primary
    environment:
      - POSTGRES_DB=pharmacy
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - db-primary-data:/var/lib/postgresql/data
    networks:
      - pharmacy-net

  db-replica:
    image: postgres:15
    container_name: node5-db-replica
    environment:
      - POSTGRES_DB=pharmacy
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGUSER=postgres
    depends_on:
      - db-primary
    ports:
      - "5433:5432"
    volumes:
      - db-replica-data:/var/lib/postgresql/data
    networks:
      - pharmacy-net

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: node6-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@pharmacy.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - db-primary
    networks:
      - pharmacy-net

  monolith-api:
    build: ./monolith_rest
    container_name: monolith-rest-api
    environment:
      - DB_HOST=db-mono
      - DB_NAME=pharmacy
      - DB_USER=postgres
      - DB_PASS=postgres
    ports:
      - "9000:8000"
    depends_on:
      - db-mono
    networks:
      - mono-net

  db-mono:
    image: postgres:15
    container_name: mono-db
    environment:
      - POSTGRES_DB=pharmacy
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db-mono-data:/var/lib/postgresql/data
    networks:
      - mono-net

volumes:
  db-primary-data:
  db-replica-data:
  db-mono-data:
